.body{
  font-family: "Sans-serif", "Verdana", monospace;
}

.box1{
  width: 40%;
  height:705px;
  box-sizing: border-box;
  float:left;
  background-color: #dff3ee;
  position: fixed;
} /*green area*/


.box2{
  width: 60%;
  height: auto;
  box-sizing: border-box;
  float:right;
  font-family: "Sans-serif", "Verdana", monospace;
  color: #1c473a;
  } /*while area*/

.container {
  padding: 16px;
  background-color: white;
  text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 70%;
  height: 12px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #1c473a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  opacity: 0.9;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.error{
  position: relative;
  left: 46.5%;
  top: 200px;
} /* error logo*/

.errormsg{
  text-align: center;
  color: red;
  font-family: "Sans-serif", "Verdana", monospace;
}/* error message*/

.verify{
  position: relative;
  left: 42%;
  top: 200px;
}

.verifymsg{
  text-align: center;
  color: #1c473a;
  font-family: "Sans-serif", "Verdana", monospace;
}